*{
	box-sizing:border-box;
}
body{
	background-color:#f2f0f1;
	margin:0px 0px 0px 0px;
}
.modal{
	
	
	height:450px;
	width:400px;
	border:2px solid black;
	background-color:teal;
	margin:0 auto;
	border-radius:10%;
	margin-top:60px;
	text-align:center;

}
.spacer{
	height:auto;
	background-color:#f2f0f1;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	position:fixed;
	width:100%;
	/*margin-bottom:100px;*/
	clear:both;
	top:0;
}
.name{
	height:auto;
	display:inline-block;
	margin:20px auto;
	text-align:center;
	text-decoration:underline;
}

.maincontainer{
	padding-top:85px;
}
.content{
	height:400px;
	width:auto;
	background-color:white;
	border:3px solid black;
	border-left:none;
	border-right:none;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	background-color:black;

}
.secondcontent{
	
	
}
.logo{
	height:75px;
	width:75px;
	float:left;
	background-image:url("logo.jpg");
	background-size:cover;
}
.button{
	margin-top:29px;
	display:inline-block;
	height:20px;
	font-size:20px;
	margin-right:10px;
	text-decoration:underline;

}
.lefttitle{
	display:inline-block;
	position:absolute;
	left:0px;
}
.modalcontainer{
	width:100%;
	height:auto;
	position:fixed;
	display:none;
	z-index:1;
}
.carousel{
	border:1px solid black;
	width:55%;
	height:auto;
	background-size:100% 100%;
	border-top:none;
	border-bottom:none;
	min-width:400px;
}
.provider{
	text-align:center;
	background-color:teal;
	padding-top:19.920px;
	padding-bottom:19.920px;
	margin:0;
}
.overlays{
	display:none;
	height:1250px;
	width:100%;
	background-color:rgba(1, 1, 1, 0.7);
	position:fixed;
	top:0;
	left:0;
}
.hamburgerbutton{
	background-image:url("hamburgerbutton.PNG");
	background-size:100% 100%;
	width:35px;
	height:60px;
	margin-left:20px;
	margin-top:10px;
	display:none;
}
.xout{
	float:right;
	margin-right:25px;
	margin-top:0px;
	
}
.xout:hover{
	background-color:red;
	color:white;
}
.modalheader{
	font-family:Helvetica;
	font-size:20px;
	text-align:center;
	margin-top:0px;
}
.topmodalheader{
	margin-top:40px;
	margin-bottom:5px;
	font-size:25px;
}
.submit{
	background-color:lightgrey;
	width:100px;
	text-align:center;
	margin:0 auto;
	border:2px solid black;
	font-size:15px;

}
.hambox{
	width:100px;
	height:200px;
	border:2px solid black;
	margin-top:85px;
	position:fixed;
	background-color:lightgrey;
	display:none;
	
}
.hambutton{
	font-size:20px;
	margin-bottom:5px;
	margin-top:10px;
	text-decoration:underline;
}
.modaltext{
	font-family:Helvetica;
	margin-bottom:5px;
}
input{
	width:225px;
	margin-bottom:20px;
}
.modallogo{
	background-image: url("logo.jpg");
	background-size:cover;
	margin:0 auto;
	height:65px;
	width:65px;
	margin-top:25px;
}
.footer{
	border-top:2px solid  black;
	height:75px;
	background-color:lightgrey;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;

}
.submit:hover{
	background-color:lightblue;
	transition:.25s;
}
.esctoclose{
	font-size:10px;
}
.recentprojectsheader{
	text-decoration:underline;
	margin-top:100px;
	text-align:center;
}
.recentproject{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.project{
	height:300px;
	background-size:100% 100%;
	width:30%;
	border:1px solid black;
	background-repeat:no-repeat;
	min-width:300px;
	margin-bottom:30px;
}
.project1{
	background-image:url("project1.jpg");
}
.project2{
	background-image:url("project2.jpg");
}
.project3{
	background-image:url("project3.jpg");
}
.footercontainer{
	width:50%;
	
	margin-top:30px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.Home, .About, .Gallery, .Contact{
	display:inline-block;
	text-decoration:underline;
}
a{
	text-decoration:none;
	color:black;
}
.footerlogo{
	background-image:url("logo.jpg");
	background-size:cover;
	height:75px;
	width:75px;
	float:right;
	display:inline-block
}
@media all and (max-width:950px){
	.lefttitle{
		display:none;
	}
	.hamburgerbutton{
		display:block;
	}

}
@media all and (max-width:417px){
	.modal{
		width:350px;
	}
}